requests
huggingface_hub
streamlit>=1.28.0
transformers>=4.36.0
torch>=2.1.0
sentencepiece>=0.1.99   # needed for summarization/translation models
protobuf>=3.20.0        # avoids version conflicts with transformers
edge-tts>=6.1.10

pandas>=2.0.0
requests>=2.31.0
plotly>=5.18.0



sacremoses>=0.0.53

